/* @media (max-width:1399px){
    .item-bg-gray {
        left: 83px;
    }
}
@media (max-width:1300px){
    .hero-image img {
        max-width: 100%;
    }
}
@media (max-width:1200px){
    .item-bg-gray {
        left: 70px;
    }
}
@media (max-width:1000px){
    .item-bg-gray {
        left: 228px;
    }
} */